@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');

body {
  font-family: 'Poppins', serif !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ECEDF2;
  border-radius: 8px;
  margin-top: 64px;
  margin-bottom: 64px;
}

::-webkit-scrollbar-thumb {
  background: #D5D7E2;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B0B4C9;
}
